.output {
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 1px #000;
    margin-bottom: 0.7em;
    background: #3C351D;
    color: #BBB499;
    padding: 0.25em 0.75em;
    
    p {
        padding: 0.25em 0;
        text-align: right;
        border-bottom: 1px solid #BBB499;

        &:last-child {
            border-bottom: 0;
        }

    }
}